body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.base-color{
    color: #ffbc0d;
}

/*menu part css*/

.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5e5d5b;
    box-shadow: 2px 2px 12px grey;
}
.logo{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    margin-left: 20px;
    
}
.logo-p2{
    font-size: 20px;
    color: #afacac;
}
.nav-items ul li{
    display: inline-block;
    
}
.nav-items ul li a{
    color: #fdfcfc;
    margin: 5px;
    padding: 0 5px;
    height: 30px;
    line-height: 43px;
    text-align: center;
    font-weight: 500;
    display: flex;
    font-size: 1rem;
    letter-spacing: 1px;
}
/* .nav-items .search{
    margin-right:150px;
} */
.menu-bar{
    border-bottom: 4px solid #b30a0a;
    border-width: medium;
}
.menu-btn{
    background-image: linear-gradient(#ffbc0d, orange);
    padding: 10px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/*banner part css*/

.banner{
    margin-top:70px ;
}
.divDesign{
    display: flex;
    margin-bottom: 150px;
}
.banner-item{
    width: 50%;
    padding-left: 5%;
}
.banner-item p{
    font-size: 20px;
    color: grey;
    text-align: justify;
    margin-bottom: 40px;
}
.banner-item img{
    width: 90%;

}
.fn-btn{
    background-image: linear-gradient(#ffbc0d, orange);
    padding: 15px 45px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

/*about me css*/
.aboutUs{
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.aboutUs .banner-item h2{
    color: grey;
    padding-top:90px;
}
.aboutUs .banner-item p{
    margin-bottom: 100px;
    padding-right: 30%;
}
.banner-item .aboutImg{
    width: 50%;
    margin-left: 20%;
    margin-top: 5%;
}

/*recipe part css*/

.recipe-content{
    text-align: center;
    color: grey;
    margin: 30px 430px;
}
#recipe .divDesign{
    width: 100%;
}
.recipe-item img{
    width: 100%;
}
.recipe-item{
    box-shadow: 2px 2px 15px gray;
    border-radius: 30px;
    width: 23%;
    padding: 20px 20px;
    margin-left: 5%;
    font-family: 'Spartan', sans-serif;
    text-align: justify;
}

/*footer part css*/
.footerDesign{
    background-color: #272521;
    text-align: center;
    height: 250px;
}
.footerDesign h2{
    padding-top: 20px;
    color: gray;
    font-weight: 500;
    text-transform: uppercase;
}
.footerDesign p{
    color: #fff;
    padding-top: 30px;
}

/*deals part css*/


    
.ex-deals-content{
    text-align: center;
    color: grey;
    margin: 30px 430px;
}

.ex-deals-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.ex-deals-item p{
    padding-bottom:30px;
}
.dealsImg{
    width: 90%;
    border-radius: 5px;
}
.min-text{
    font-size: 12px;
    margin-top: 60px;
}